In [1]:
from pandas_ext.UpdatedDataFrame2 import UpdatedDataFrame as DataFrame

In [2]:
df = DataFrame(["test", "Test"])

In [3]:
df2 = DataFrame([df, df])

In [4]:
df2

========repr html called=======
========repr html called=======
========repr html called=======

                         0
0        0
0  test
1  Test
1        0
0  test
1  Test

In [5]:
import pandas as pd
from IPython.core.display import display, HTML

In [6]:
script = \
"""
<script>
requirejs.config({
    paths: { 
       'katex': ['//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min'], 
                                              // strip .js ^, require adds it back
    },
});

require(['katex'], function(katex) {
     console.log("Loaded :)");
     console.log(katex)
     window.katex = katex
     return {};
});
</script>
"""

In [7]:
display(HTML(script))

In [8]:
# display(HTML('<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.js" integrity="sha384-O4hpKqcplNCe+jLuBVEXC10Rn1QEqAmX98lKAIFBEDxZI0a+6Z2w2n8AEtQbR4CD" crossorigin="anonymous"></script>'))

In [9]:
display(HTML('<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.css" integrity="sha384-VEnyslhHLHiYPca9KFkBB3CMeslnM9CzwjxsEbZTeA21JBm7tdLwKoZmCt3cZTYD" crossorigin="anonymous">'))

In [10]:
from uuid import uuid1
class katex:
    def __init__(self, string):
        self._start = lambda uid: "<div id='"+uid+"'/>\n<script>"
        self._vars = "var parent, newChild;"
        self._parent = lambda uid: "parent = document.getElementById('{_id}');".format(_id=uid)
        self._body = ["newChild = document.createElement('span');",
                      "katex.render('"+string+"', newChild);",
                      "parent.appendChild(newChild);",
                       "console.log('test');"]
        self._body = "\n".join(self._body)
        self._end = "</script>"

    def _repr_html_(self):
        self._id = str(uuid1())
        rep = "\n".join([self._start(self._id), self._vars, self._parent(self._id), self._body, self._end])
        return rep

In [11]:
k = katex(r"\\int x = \\frac{x}{y} = \\frac{\\lambda y + 100}{\\int e = mc^2}")
k

In [12]:
DataFrame([k, k, k])

========repr html called=======

                                        0
0  <__main__.katex object at 0x10e2dfe48>
1  <__main__.katex object at 0x10e2dfe48>
2  <__main__.katex object at 0x10e2dfe48>